@mixin button($color: $dark, $borderColor: $dark, $highlightColor: $green) {
    padding: $padding-sm;
    border: 2px solid $borderColor;
    color: $color;
    box-shadow: inset 0 -3px $highlightColor;
    &:hover {
        cursor: pointer;
    }
}